.tecnicalDetailContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label {
  font-size: 0.875rem;
  color: var(--color-text-dimmed);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.value {
  font-size: 0.875rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .tecnicalDetailContainer {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

.title {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--color-blue-light);
}
