.searchResultsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  column-gap: 1rem;
  padding-top: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardResult {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    scale: 1.05;
  }
}

.poster {
  border-radius: 12px;

  & div {
    aspect-ratio: 2/3;
  }
}

.title {
  line-clamp: 2;
}
