.button {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  border: none;

  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.primary {
  background: var(--color-primary);
}

.secondary {
  background: oklch(100% 0 0 / 0.15);
}
